states { width: 300px; border: 2px solid red; margin: 0 auto; }
/*name { display: block; width: 100%; background-color: skyblue; color: red; font-weight: bold; } */

@namespace e url("http://www.ccsf.edu/east");

@namespace w url("http://www.ccsf.edu/west");

east|name {
    background: skyblue;
    color: red;
}

west|name {
    background: yellow;
    color: blue;
}