states { width: 300px; border: 2px solid red; margin: 0 auto; }
/*name { display: block; width: 100%; background-color: skyblue; color: red; font-weight: bold; } */

@namespace e "http://www.ccsf.edu/east";

@namespace w "http://www.ccsf.edu/west";

e|name {
    background: skyblue;
    color: red;
}

w|name {
    background: yellow;
    color: blue;
}